# Data analysis and price prediction: Airbnb listings in Berlin
### Dataset
Is accessible as 'Airbnb Berlin.csv', retrieved from kaggle.
### Objective
Build a predictive model: Predict price based on features of a listing such as location, size etc. Prediction shall be understood as a helping tool for new listings to estimate appropriate price. Therefore, reviews and ratings of listings are in this step irrelevant.

In [49]:
# import
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## 1. Data exploration and cleaning

In the first steps the data set is simplified by:
* Dropping duplicates in Listing ID (as duplicates should contain same information per listing)
* Selecting only features (columns) relevant for price prediction

In [50]:
# read csv and print info
df = pd.read_csv('Airbnb_Berlin.csv', dtype={'Postal Code': 'str', 'Price': 'str'})
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 456961 entries, 0 to 456960
Data columns (total 47 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   index                  456961 non-null  int64
 1   Review ID              452805 non-null  float64
 2   review_date            452805 non-null  object
 3   Reviewer ID            452805 non-null  float64
 4   Reviewer Name          452805 non-null  object
 5   Comments               452597 non-null  object
 6   Listing ID             456961 non-null  int64
 7   Listing URL            456961 non-null  object
 8   Listing Name           456756 non-null  object
 9   Host ID                456961 non-null  int64
 10  Host URL               456961 non-null  object
 11  Host Name              456913 non-null  object
 12  Host Since             456913 non-null  object
 13  Host Response Time     398194 non-null  object
 14  Host Response Rate     398194 non-null  object
 15  Is Superhost           456913 non-null  object
 16  neighbourhood          456961 non-null  object
 17  Neighborhood Group     456961 non-null  object
 18  City                   456928 non-null  object
 19  Postal Code            449258 non-null  object
 20  Country Code           456961 non-null  object
 21  Country                456961 non-null  object
 22  Latitude               456961 non-null  float64
 23  Longitude              456961 non-null  float64
 24  Is Exact Location      456961 non-null  object
 25  Property Type          456961 non-null  object
 26  Room Type              456961 non-null  object
 27  Accomodates            456961 non-null  int64
 28  Bathrooms              456018 non-null  float64
 29  Bedrooms               456244 non-null  float64
 30  Beds                   456871 non-null  float64
 31  Square Feet            28675 non-null   float64
 32  Price                  456961 non-null  object
 33  Guests Included        456961 non-null  int64
 34  Min Nights             456961 non-null  int64
 35  Reviews                456961 non-null  int64
 36  First Review           452805 non-null  object
 37  Last Review            452805 non-null  object
 38  Overall Rating         452242 non-null  float64
 39  Accuracy Rating        452209 non-null  float64
 40  Cleanliness Rating     452211 non-null  float64
 41  Checkin Rating         452188 non-null  float64
 42  Communication Rating   452205 non-null  float64
 43  Location Rating        452186 non-null  float64
 44  Value Rating           452185 non-null  float64
 45  Instant Bookable       456961 non-null  object
 46  Business Travel Ready  456961 non-null  object
dtypes: float64(15), int64(7), object(25)
memory usage: 163.9+ MB
None

In [51]:
# print head
print(df.head())

   index   Review ID review_date  Reviewer ID Reviewer Name  \
0      0  58660447.0    01-03-16   14876562.0        Dennis
1      1         NaN         NaN          NaN           NaN
2      2  58663795.0    01-03-16   49367757.0       Andreea
3      3  59003619.0    01-05-16   46694292.0         Sasha
4      4  66845661.0    03-25-16   54542819.0        Yohana

                                            Comments  Listing ID  \
0  Very nice, clean appartement! Josh was really ...    10002699
1                                                NaN    10002922
2  Aki is really nice and friendly. We had an ama...    10006647
3  Aki is a very nice dude with a clean place in ...    10006647
4  Aki's place was easy to find and located in th...    10006647

                             Listing URL                     Listing Name  \
0  https://www.airbnb.com/rooms/10002699  Trendy and peaceful KreuzkÃ¶lln
1  https://www.airbnb.com/rooms/10002922  Sehr zentrale Wohnung in Berlin
2  https://www.airbnb.com/rooms/10006647      Very central and very quite
3  https://www.airbnb.com/rooms/10006647      Very central and very quite
4  https://www.airbnb.com/rooms/10006647      Very central and very quite

    Host ID  ... Last Review Overall Rating Accuracy Rating  \
0  44696672  ...    01-03-16          100.0             8.0
1  45848709  ...         NaN            NaN             NaN
2  40791092  ...    02-12-17           92.0             9.0
3  40791092  ...    02-12-17           92.0             9.0
4  40791092  ...    02-12-17           92.0             9.0

  Cleanliness Rating Checkin Rating Communication Rating Location Rating  \
0               10.0            6.0                 10.0            10.0
1                NaN            NaN                  NaN             NaN
2                8.0            9.0                 10.0            10.0
3                8.0            9.0                 10.0            10.0
4                8.0            9.0                 10.0            10.0

  Value Rating Instant Bookable Business Travel Ready
0         10.0                f                     f
1          NaN                f                     f
2          9.0                f                     f
3          9.0                f                     f
4          9.0                f                     f

[5 rows x 47 columns]

In [52]:
# print number of unique values in listing ID
print(df['Listing ID'].nunique())

23536

In [53]:
# drop duplicates in Listing ID
df = df.drop_duplicates(subset='Listing ID')

# drop columns concerning reviews 
col_reviews_ratings = ['Review ID', 'review_date', 'Reviewer ID', 'Reviewer Name', 'Comments', 'Overall Rating', 'Reviews', 
                       'First Review', 'Last Review', 'Accuracy Rating', 'Cleanliness Rating', 'Checkin Rating', 
                       'Communication Rating', 'Location Rating', 'Value Rating']
df = df.drop(labels=col_reviews_ratings, axis=1)

# again print info
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23536 entries, 0 to 456958
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  23536 non-null  int64
 1   Listing ID             23536 non-null  int64
 2   Listing URL            23536 non-null  object
 3   Listing Name           23482 non-null  object
 4   Host ID                23536 non-null  int64
 5   Host URL               23536 non-null  object
 6   Host Name              23515 non-null  object
 7   Host Since             23515 non-null  object
 8   Host Response Time     13046 non-null  object
 9   Host Response Rate     13046 non-null  object
 10  Is Superhost           23515 non-null  object
 11  neighbourhood          23536 non-null  object
 12  Neighborhood Group     23536 non-null  object
 13  City                   23533 non-null  object
 14  Postal Code            22951 non-null  object
 15  Country Code           23536 non-null  object
 16  Country                23536 non-null  object
 17  Latitude               23536 non-null  float64
 18  Longitude              23536 non-null  float64
 19  Is Exact Location      23536 non-null  object
 20  Property Type          23536 non-null  object
 21  Room Type              23536 non-null  object
 22  Accomodates            23536 non-null  int64
 23  Bathrooms              23507 non-null  float64
 24  Bedrooms               23516 non-null  float64
 25  Beds                   23501 non-null  float64
 26  Square Feet            425 non-null    float64
 27  Price                  23536 non-null  object
 28  Guests Included        23536 non-null  int64
 29  Min Nights             23536 non-null  int64
 30  Instant Bookable       23536 non-null  object
 31  Business Travel Ready  23536 non-null  object
dtypes: float64(6), int64(6), object(20)
memory usage: 5.9+ MB
None

Furthermore, we drop:
* columns that contain other irrelevant aspects such as URLs, IDs (except Listing ID for now), names, host related info (except Is Superhost).
* column wih very low non-null count: Square Feet

In [54]:
# drop descriptive columns  
col_irr = ['Listing URL', 'Listing Name', 'Host ID', 'Host URL', 'Host Name', 'Host Since', 'Host Response Time', 
           'Host Response Rate', 'Square Feet']
df = df.drop(labels=col_irr, axis=1)

# again print info
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23536 entries, 0 to 456958
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  23536 non-null  int64
 1   Listing ID             23536 non-null  int64
 2   Is Superhost           23515 non-null  object
 3   neighbourhood          23536 non-null  object
 4   Neighborhood Group     23536 non-null  object
 5   City                   23533 non-null  object
 6   Postal Code            22951 non-null  object
 7   Country Code           23536 non-null  object
 8   Country                23536 non-null  object
 9   Latitude               23536 non-null  float64
 10  Longitude              23536 non-null  float64
 11  Is Exact Location      23536 non-null  object
 12  Property Type          23536 non-null  object
 13  Room Type              23536 non-null  object
 14  Accomodates            23536 non-null  int64
 15  Bathrooms              23507 non-null  float64
 16  Bedrooms               23516 non-null  float64
 17  Beds                   23501 non-null  float64
 18  Price                  23536 non-null  object
 19  Guests Included        23536 non-null  int64
 20  Min Nights             23536 non-null  int64
 21  Instant Bookable       23536 non-null  object
 22  Business Travel Ready  23536 non-null  object
dtypes: float64(5), int64(5), object(13)
memory usage: 4.3+ MB
None

Then, we explore the columns/features we are not sure about yet. Based on the value counts we get, we:
* Drop the columns neighbourhood, Neighborhood Group, City, Country Code, Country as we assume that the location is sufficiently described in Latitude + Longitude and that all rental units are located in (Greater) Berlin (to be confirmed exploring Latitude + Longitude). 
* Change values of the columns Is Superhost, Instant Bookable from 'f'/'t' to Boolean False/True.
* Drop column Business Travel Ready, as all values are 'f'.
* Drop rows with null values

In [55]:
feat_in_quest = ['Is Superhost', 'neighbourhood', 'Neighborhood Group', 'City', 'Postal Code', 'Country Code', 'Country',
                 'Is Exact Location', 'Property Type', 'Room Type', 'Instant Bookable', 'Business Travel Ready']
for feat in feat_in_quest:
    print('\n' + 'value counts in feature {}:'.format(feat) + '\n')
    print(df[feat].value_counts())

value counts in feature Is Superhost:

f    19948
t     3567
Name: Is Superhost, dtype: int64

value counts in feature neighbourhood:

NeukÃ¶lln                    3444
Prenzlauer Berg              2995
Kreuzberg                    2936
Friedrichshain               2782
Mitte                        2212
                             ...
KonradshÃ¶he                    4
Falkenberg                      3
Wartenberg                      1
Stadtrandsiedlung Malchow       1
Blankenfelde                    1
Name: neighbourhood, Length: 93, dtype: int64

value counts in feature Neighborhood Group:

Friedrichshain-Kreuzberg    5726
Mitte                       4865
Pankow                      3687
NeukÃ¶lln                   3587
Charlottenburg-Wilm.        1676
Tempelhof - SchÃ¶neberg     1586
Lichtenberg                  743
Treptow - KÃ¶penick          626
Steglitz - Zehlendorf        468
Reinickendorf                296
Marzahn - Hellersdorf        147
Spandau                      129
Name: Neighborhood Group, dtype: int64

value counts in feature City:

Berlin                                 23412
.                                         12
SchÃ¶neberg                               10
Mitte                                      8
Weissensee                                 8
*                                          6
berlin                                     4
Wilmersdorf                                4
Friedrichshain                             3
Berlin - Mitte                             3
Berlino                                    3
Berlin-Wilmersdorf                         3
Potsdam                                    3
ÎÎµÏÎ¿Î»Î¯Î½Î¿                           2
Kleinmachnow                               2
Wannsee                                    2
Berlin-Mitte                               2
BerlÃ­n                                    2
Hoppegarten                                2
Berlin - SchÃ¶neberg                       2
Prenzlauer Berg                            2
Berlin-Tiergarten                          1
Berlin- Charlottenburg                     1
Weissensee, Berlin                         1
Mitte/Tiergarten                           1
Berlin Mitte                               1
Berlim                                     1
Berlin (Kreuzberg)                         1
Kreuzberg, Berlin                          1
Baseler StraÃe 91 A,12205 Berlin          1
Berlin NeukÃ¶lln                           1
Mitte/Kreuzberg                            1
Charlottenburg                             1
KÃ¶penick                                  1
Berlin-Zehlendorf                          1
Berlin / Kleinmachnow                      1
Berlin Friedrichshain                      1
Zeuthen                                    1
ææ                                     1
Berlin, friedrichshain                     1
Eichwalde                                  1
Baseler StraÃe 91 A, 12205 Berlin         1
Berlin-NeukÃ¶lln                           1
Woltersdorf                                1
Berlin-Treptow                             1
Berlin/Steglitz                            1
ÐÐµÑÐ»Ð¸Ð½                               1
Berlin, Charlottenburg                     1
10999 Berlin                               1
Erkner                                     1
Hennigsdorf                                1
Berlin-Kreuzberg                           1
MÃ¼hlenbecker Land                         1
Berlin, SchÃ¶neberg                        1
Berlin-Wedding                             1
Berlin Prenzlauer Berg                     1
Berlin (Wedding)                           1
Berlin, Berlin, DE                         1
Berlin-Friedrichshain                      1
Name: City, dtype: int64

value counts in feature Postal Code:

10245.0            702
10247.0            644
10437.0            593
10115.0            545
10999.0            478
                  ...
14053.0              1
10997 Kreuzberg      1
13629                1
12107                1
13187 Pankow         1
Name: Postal Code, Length: 396, dtype: int64

value counts in feature Country Code:

DE    23534
NL        1
GB        1
Name: Country Code, dtype: int64

value counts in feature Country:

Germany           23534
United Kingdom        1
Netherlands           1
Name: Country, dtype: int64

value counts in feature Is Exact Location:

t    17649
f     5887
Name: Is Exact Location, dtype: int64

value counts in feature Property Type:

Apartment                 20935
Condominium                 577
Loft                        457
House                       436
Serviced apartment          316
Hostel                      183
Townhouse                   108
Bed and breakfast            85
Guest suite                  73
Hotel                        72
Boutique hotel               66
Guesthouse                   57
Other                        41
Bungalow                     23
Boat                         20
Houseboat                    14
Villa                        13
Tiny house                    8
Pension (South Korea)         8
Cottage                       7
Cabin                         7
Camper/RV                     6
Aparthotel                    4
Resort                        3
Castle                        3
Train                         2
Earth house                   2
Casa particular (Cuba)        2
Treehouse                     2
Barn                          1
Hut                           1
Tipi                          1
Cave                          1
Vacation home                 1
Tent                          1
Name: Property Type, dtype: int64

value counts in feature Room Type:

Private room       11694
Entire home/apt    11528
Shared room          314
Name: Room Type, dtype: int64

value counts in feature Instant Bookable:

f    15658
t     7878
Name: Instant Bookable, dtype: int64

value counts in feature Business Travel Ready:

f    23536
Name: Business Travel Ready, dtype: int64

In [56]:
# drop superfluous location related columns  
# 'Instant Bookable'
col_loc = ['neighbourhood', 'Neighborhood Group', 'City', 'Postal Code', 'Country Code', 'Country']
df = df.drop(labels=col_loc, axis=1)

# drop Business Travel Ready column  
df = df.drop(labels='Business Travel Ready', axis=1)

# replace 'f'/'t' by False/True
df = df.replace({'f': False, 't':True})

In [58]:
# drop rows with null values
df = df.dropna()

In [59]:
# again print info
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23439 entries, 0 to 456958
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              23439 non-null  int64
 1   Listing ID         23439 non-null  int64
 2   Is Superhost       23439 non-null  object
 3   Latitude           23439 non-null  float64
 4   Longitude          23439 non-null  float64
 5   Is Exact Location  23439 non-null  bool
 6   Property Type      23439 non-null  object
 7   Room Type          23439 non-null  object
 8   Accomodates        23439 non-null  int64
 9   Bathrooms          23439 non-null  float64
 10  Bedrooms           23439 non-null  float64
 11  Beds               23439 non-null  float64
 12  Price              23439 non-null  object
 13  Guests Included    23439 non-null  int64
 14  Min Nights         23439 non-null  int64
 15  Instant Bookable   23439 non-null  bool
dtypes: bool(2), float64(5), int64(5), object(4)
memory usage: 2.7+ MB
None